// ?Fonts
$crimson_pro: "Crimson Pro", serif;
$lora: "Lora", serif;
$montserrat: "Montserrat", sans-serif;

// ?Colors
$black: #181719;
$white: #FFFFFF;
$gray: #A9A9A9;
$special_color: #F7542E;

// ?Screens
$desktop: 1700px;
$desktop2: 1366px;
$mobile: 793px;
$mobile2: 320px;
